$body-bg: #5e746d;

$primary: #004b44;
$secondary: #e70027;
$danger: #bcb2eb;
$success: #c77121;
$warning: #d6ebe6;
$info: rgb(39, 51, 51);

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
